h1{
    font-family:fantasy;
    font-size: medium;
    color:brown;
}
div{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 70%;
    height: 100px;
}
#output{
    font-size: 20px;
    color:blue;
    margin-top: 20px;
}